@media screen and (-webkit-min-device-pixel-ratio:0) { #loading{padding-left: 80px;} }


#ui-datepicker-div {
  z-index: 1000 !important;
}

/* .ui-widget-header{ background: none !important; background-color: #EA1D22 !important; color: white; border: none !important; } */

.rrbs_saveModal { display: none; }

.rrbs_saveModal form label { float: left; width: 140px; text-align:left;}

#loading 
{
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 6px;
}

#loading 
{ 
    padding-left:85px\9;
}

div.field
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
    width: 358px;
}

#save_booking{
    position: relative;
    margin-left:76px;
}

.formLayout
{
    padding: 10px;
    overflow: hidden;
}
 
.formLayout label, .formLayout input, .formLayout select
{
    display: block;
    float: left;
    margin-bottom: 10px;
}

.formLayout label
{
    width: 140px;
    text-align: right;
    padding-right: 20px;
}

.formLayout input, .formLayout select 
{	
    width: 200px;
}

br
{
    clear: left;
}

.fc-time-grid-event .fc-time
{
  color: #000000;
}



/************************************************************************************************************
add the following for every category (<cid>=category id) where you want a different style:

.fc-time-grid-event.category_<cid> .fc-time 
{
  background-color: #<color>;
}
************************************************************************************************************/

.fc-time-grid-event.category_1 .fc-time 
{
    background-color: lightsteelblue;
}
.fc-time-grid-event.category_2 .fc-time
{
    background-color: black;
}
.fc-time-grid-event.category_3 .fc-time
{
    background-color: green;
}

/************************************************************************************************************
add the following for every meeting room (<roomnr>=index of the room in the select box) where you want a different style:

.fc-time-grid-event.meeting_room_<roomnr> .fc-time
{
  background-color: #<color>;
}
************************************************************************************************************/




div#status_name_book{ color: green; }
div#status_name_progress{ color: #f2cf01; }
div#status_name_complete{ color: black; }


  


div#rrbs_left {
  float: left;
  width: 15%;
}
div#rrbs_resource {
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  height:450px;
  overflow:auto;
}

div#rrbs_right {
  overflow: hidden;
  padding-right: auto;
  width: 80%;  
}
div#calendar {
  padding-top: 0px; 
  padding-left: 0px;
  margin-bottom: 0px; 
}

div#footer_message {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.warn {
  background-color: #fc8686;
  margin-bottom: 10px;
  padding-top: 5px;
  border: 1px solid black;
}